@{
    ViewData["Title"] = "Home Page";
}



<div class="flex__content">
    <div class="flex__content-option">
        <a asp-area="" asp-controller="SpisTrasPunktowanych" asp-action="Index">Modyfikuj Spis Tras Punktowanych</a>
    </div>
    <div class="flex__content-option">
        <a asp-area="" asp-controller="Uzytkownik" asp-action="Index">Nadaj uprawnienia użytkownikom</a>
    </div>
    <div class="flex__content-option">
        <a href="#">Dodaj Punkt</a>
    </div>
    <div class="flex__content-option">
        <a href="#">Zamknięcia na trasie</a>
    </div>

</div>
