@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <h1 class="wrapper__h1-title">Polskie Towarzysto Turystyczno-Krajoznawcze</h1>
    <h2 class="wrapper__h2-title">Górska Odznaka Turystyczna</h2>

    <div class="wrapper__content">
        <p>Zbierz je wszystkie!</p>
        <img src="/images/odznaki.png" alt="Alternate Text" />
        <div class="wrapper__p-account">
            <p>Nowy numer konta bankowego Oddziału:</p>
            <p>16 1020 2906 0000 1302 0369 8461</p>
        </div>


        <p class="wrapper__p-info">
            BIURO ODDZIAŁU - CZYNNE:
        </p>
        <ul class="wrapper__open-list">
            <li>poniedziałek -  <span class="open-list--right">biuro nieczynne</span> </li>
            <li>wtorek -       <span class="open-list--right">w godz. 13.00 - 15.30</span></li>
            <li>środa -        <span class="open-list--right">biuro nieczynne</span></li>
            <li>czwartek -   <span class="open-list--right">w godz. 13.00 - 15.30</span></li>
            <li>piątek -      <span class="open-list--right">w godz. 11:00 - 15:30</span> </li>
        </ul>
        <p class="wrapper__open-list--info">Składanie Preliminarzy i Rozliczeń drogą elektroniczną lub osobiście w/w terminach</p>
    </div>

</div>
